

<hr />
<mat-spinner *ngIf="showSpinner"></mat-spinner>
<button mat-raised-button (click)="loadData()">Load Data</button>
<hr />

<div>
  <mat-progress-spinner value="40"></mat-progress-spinner>
  <mat-progress-spinner value="100"></mat-progress-spinner>
  <mat-spinner color="primary"></mat-spinner>
  <mat-spinner color="accent"></mat-spinner>
  <mat-spinner color="warn"></mat-spinner>
</div>

<hr />

<div>
  <span [matBadge]="notification">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="primary">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="accent">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
</div>

<div>
  <span matBadge="5" matBadgeColor="warn" matBadgePostion="below before">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="below after">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="warn" matBadgePostion="above before">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="above after">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="warn" matBadgeSize="small">Notifications</span>
</div>
<div>
  <span matBadge="5" matBadgeColor="warn" matBadgeSize="medium">Notifications</span>
</div>

<hr />

<div>
  <mat-icon color="primary">grade</mat-icon>
</div>

<hr />

<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</div>

<hr />

<div>
  <mat-button-toggle #toggleBtn checked disableRipple disabled>Toggle</mat-button-toggle> {{ toggleBtn.checked }}
</div>

<hr />

<div>
  <button mat-button>Click me!</button>
  <button mat-raised-button>Click me!</button>
  <button mat-flat-button>Click me!</button>
  <button mat-stroked-button>Click me!</button>
</div>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Minifab</button>
</div>

<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warm</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warm</button>
</div>

<hr />

<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is a body text</div>
<div class="mat-body-2">This is a bold body text</div>
<div class="mat-caption">This is a caption text</div>

<div class="mat-typography">
  <h1>This is a heading for h1</h1>
  <h2>This is a heading for h2</h2>
  <h3>This is a heading for h3</h3>
  <h4>This is a heading for h4</h4>
</div>

<hr />

<button mat-raised-button>Hello World</button>